<style>
  dd {margin-left: 2em;}
</style>
{% for item in contents %}
<h2 id="{{ loop.index0 }}">{{ item["title"] }}</h2>
<dl >
  <dt>
    <b>{{ item["signature"] }}</b>
  </dt>
  <dd>
  {{ item["desc"] }}
  {% for key in item["meta"] %}
    {% if item["meta"][key] %}
    <dl>
      <dt><b>{{ key }}:</b></dt>
      <dd>{{ item["meta"][key] }}</dd>
    </dl>
    {% endif %}
  {% endfor %}
  {% for routine in item["routines"] %}
    <dl>
      <dt>
        <b>{{ routine["signature"] }}</b>
      </dt>
      <dd>
        <p>{{ routine["title"] }}</p>
        {{ routine["desc"] }}
        {% for key in routine["meta"] %}
          {% if routine["meta"][key] %}
          <dl>
            <dt><b>{{ key }}:</b></dt>
            <dd>{{ routine["meta"][key] }}</dd>
          </dl>
          {% endif %}
        {% endfor %}
      </dd>
    </dl>
  {% endfor %}
  </dd>
</dl>
{% endfor %}
